.welcome{
	font: 15px Sans;
	background-color: #012A4A;
	color: #FFFFFF;
}

.welcome_error{
	font: 15px Sans;
	background-color: #FFFFFF;
	color: #742C2C;
}

.label{
	font: 15px Sans;
	background-color: #6863B3;
	color: #FFFFFF;
}

.table{
	font: 15px Sans;
	background-color: #D0E9F1;
	color: #000000;
}

.button{
	font: 15px Sans;
	background-color: #6E6E6E;
	color: #FFFFFF;
}

.button:active{
	font: 15px Sans;
	background-color: #545454;
	color: #FFFFFF;
}

.button:hover{
	font: 15px Sans;
	background-color: #C0C0C0;
	color: #FFFFFF;
}

